.mat-card-simples {
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}
.mat-card-basico {
  background-color: #fae8e0;
  margin-top: 10px;
}
.mat-form-principal {
  margin-left: 5px;
}

